<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
            <%-include('../partials/_navbar.ejs')%>

            <h2>Update and Edit Project</h2>

<form action="/projects/<%=project._id%>?_method=PUT" method="POST">

  <label for="projectname"> Project Name</label>
  <input type="text" name="projectname" id="projectname" value="<%=project.projectname%>">
<br>
<label for="startdate"> Start Date</label>
  <input type="date" name="startdate" id="startdate" value="<%= project.startdate ? project.startdate.toISOString().split('T')[0] : '' %>">
<br>
<label for="enddate"> End Date</label>
  <input type="date" name="enddate" id="enddate" value="<%= project.startdate ? project.enddate.toISOString().split('T')[0] : '' %>">
<br>
<label for="location"> Project Location</label>
  <input type="text" name="location" id="location" value="<%=project.location%>">
<br>
<label for="area">Project Area in sq.km: </label>
  <input type="number" name="area" id="area" min="0" value="<%=project.area%>">
<br>
<label for="chartnumber"> Project Chart Number: </label>
  <input type="number" name="chartnumber" id="chartnumber" min="0" value="<%=project.chartnumber%>">
<br>
<label for="remark"> Remarks: </label>
<textarea name="remark" id="remark" rows="2" cols="40"> <%=project.remark%></textarea>
<br>

<label for="owener"> it is assigned to <%=project.owener.username%> re-assigend to: </label>
<br>
<select name="owener" id="owener" required>
  <option value="">--select--</option>
  <%accounts.forEach(account=>{%>
  <option value="<%=account._id%>"  ><%=account.username%></option>
  <%})%>
  </select>

  <br>
  <br>
    <button type="submit">Update Project</button>

</form>
<form action="/projects/<%=project._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete this Project</button>
</form>
</body>
</html>